<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Debug</key>
	<true/>
	<key>GroupName</key>
	<string>nobody</string>
	<key>Label</key>
	<string>net.sunburstweb.openpmp</string>
	<key>OnDemand</key>
	<true/>
	<key>Program</key>
	<string>/Library/Frameworks/OpenPort.framework/Resources/PortForwardingHelper</string>
	<key>ServiceIPC</key>
	<true/>
	<key>Sockets</key>
	<dict>
		<key>UNIX</key>
		<dict>
			<key>SockFamily</key>
			<string>Unix</string>
			<key>SockPassive</key>
			<true/>
			<key>SockPathMode</key>
			<integer>511</integer>
			<key>SockPathName</key>
			<string>/tmp/OpenPortKitHelper.sock</string>
			<key>SockType</key>
			<string>stream</string>
		</dict>
	</dict>
	<key>UserName</key>
	<string>nobody</string>
</dict>
</plist>
